.navegador{
    width: 100%;
    @include caja_flex(flex,center,center);
    transition:background-color .5s ease-in;
    // justify-content: space-between;

    position: fixed;
    z-index: 1;
    background-color: #ffffff;
    
    .navagador__titulo{
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        .titulo{
            position: relative;
            padding: 10px;
            font-size: $encabezado;
            font-weight: 900;
            cursor: pointer;
            &:hover{
            color: $clr-light-green;
            }
        }
    }
    .menu{
        display: flex;
        position: relative;
        list-style: none;
        .lista{
            display: block;
            position: relative;
            // width: 100%;
        }
        .enlaces{
            text-decoration: none;
            font-weight: 700;
            color: #000000;
            width: 100%;
            display: flex;
            padding: 10px 20px;
            cursor: pointer;
            transition: color .4s ease;
            &:hover{
            color: $clr-light-green;
            }
        }
    }
    .modos{
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;
        .luna{
            width: 50px;
            margin: 20px;
            cursor: pointer;
        }     
        .sol{
            width: 50px;
            margin: 20px;
            cursor: pointer;
            display: none;
        }
    }
}

.nav-dark{
    background-color: #282828;
    color: #ffffff;
    .navagador__titulo{
        color: #ffffff;
    }
    .menu{
        .enlaces{
            color: #ffffff;
        }
    }
}

.nav-white{
    background-color: #ffffff;
    color: #000000;
    .navagador__titulo{
        color: #000000;
    }
    .menu{
        .enlaces{
            color: #000000;
        }
    }
}



