.contenido__principal{
    @include caja_flex(flex,center,center);
    .redes__sociales{
        @include caja_flex(flex,center,center);
        flex-basis: 50px;
        flex-direction: column;
        .iconos{
            width: 30px;
            cursor: pointer;
            &:hover{
                color: $clr-dartmouth-green;
            }
        }
    }
    .contenedor__bienvenida{
        @include caja_flex(flex,center,center);
        flex-direction: column;
        .bienvenida__titulo{
            width: 100%;
        @include caja_flex(flex,center,center);


        }
        .leyenda{
            color: #818181;
        }
        .bienvenida__texto{
            text-align: center;
            color: #777575;
        }
    }
    .contenedor__foto{
        width: 100%;
        @include caja_flex(flex,center,center);       
        flex-basis: 600px;
        overflow: hidden;
        .foto{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
}