.seccion__skills{
    padding-top: 80px;
    width: 100%;
    @include caja_flex(flex,center,center);
    .contenedor__skills{
        width: 100%;
        height: 100%;
        .skills__titulo{
            @include caja_flex(flex,center,center);
            flex-direction: column;
            width: 100%;
            .titulo{
                font-size: 45px;
                font-weight: 500;
            }
            .leyenda{
                font-weight: 700;
                color: #777777;
            }
        }
        // clase extendida/ no existe en el html 
        .cartas{
            @include caja_flex(flex,center,center);
            width: 100%;
            height: 400px;
            padding: 25px;
            flex-direction: column;
            background-color: transparent;
            border-radius: 10px;
            box-shadow: #777777 0px 3px 15px 0px;
        
        }

        // cartas de skills 
        .skills__cartas{
            margin: 45px 0px 0px 0px;
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
            gap: 15px;
            // cartas 
            .html{@extend .cartas;}
            .css{@extend .cartas;}
            .sass{@extend .cartas;}
            .js{@extend .cartas;}
            .react{@extend .cartas;}
            .git{@extend .cartas;}
            .figma{@extend .cartas;}
            .boostrap{@extend .cartas;}
            .tailwind{@extend .cartas;}
            // boton cartas 
            .carta__btn{
                background-color: #777777;
                padding: 20px 50px;
                border-radius: 7px;
                border: none;
            }
            // titulos 
            .carta__titulo{
                font-size: 20px;
                font-weight: 800;
                letter-spacing: 5px;
            }
            .carta__leyenda{color: #777777;}
            .carta__texto{
                color: #777777;
                width: 100%;
                text-align: center;
            }
        }
    }
}