.seccion__skills {
  width: 100%;
  padding-top: 50px;

  .skill__titulo-contend {
    width: 100%;
    @include caja_flex(flex, center, center);
    flex-direction: column;

    .titulo {
      padding: 20px 0px 5px 0px;
      font-size: 45px;
      font-weight: 500;
    }
  }

  .contend__cards {
    background: url(../imagenes/Sound\ Wave.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 70px;
    

    .skill__card {
      position: relative;
      width: 360px;
      height: 210px;
      border-radius: 20px;
      margin: 40px 70px;
      cursor: pointer;
      box-shadow: 0px 0px 15px 0px #666666;
      background-color: #ffff;
      &:hover > .skill__img {
        width: 150px;
        height: 150px;
        left: -75px;
        top: calc(50% - 75px);
      }

      .skill__img {
        @include caja_flex(flex, center, center);
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        left: 10px;
        top: 10px;
        z-index: 10;
        position: absolute;
        overflow: hidden;
        backdrop-filter: blur(10px);
        border: solid 2px rgb(70, 70, 70);
        border-radius: 20px;
        transition: 0.5s ease-in-out;

        .icono {
          width: 50px;
          border-radius: 10px;
          object-fit: cover;
        }
      }

      .skill__contend {
        position: absolute;
        width: calc(100% - 75px);
        right: 0;
        padding: 28px;
        height: 100%;

        .skill__titulo {
          font-size: 25px;
          color: #2c2c2c;
        }

        .skill__texto {
          font-size: 14px;
          color: #666666;
        }

        .skill__btn {
          display: inline-block;
          background: linear-gradient(90deg, #0fc099, #5f0ff5, #bf00ff);
          padding: 10px 25px;
          color: #ffff;
          z-index: 1;
          margin-top: 10px;
          border-radius: 5px;
          font-weight: 600;
          background-size: 400%;
          text-decoration: none;
        }
      }
    }
  }
}

.card__dark{
  background-color: #3c3c3c;
  box-shadow: 0px 0px 15px 0px #000000;
  .skill__img{
    border: #eeeeee solid 2px;
  }
  .skill__titulo{
    color: #eeeeee;
  }
  .skill__texto{
    color: #eeeeee;
  }
}