.seccion__skills{
    padding-top: 180px;
    width: 100%;
    @include caja_flex(flex,center,center);
    .contenedor__skills{
        width: 100%;
        height: 100%;
        .skills__titulo{
            @include caja_flex(flex,center,center);
            flex-direction: column;
            width: 100%;
            .titulo{
                font-size: 45px;
                font-weight: 500;
            }
            .leyenda{
                font-weight: 700;
                color: #777777;
            }
        }
        // clase extendida/ no existe en el html 
        .cartas{
            @include caja_flex(flex,center,center);
            justify-content: space-around;
            width: 100%;
            height: 400px;
            padding: 25px;
            flex-direction: column;
            background-color: #d9d9d9;
            border-radius: 10px;
        
        }

        // cartas de skills 
        .skills__cartas{
            margin: 45px 0px 0px 0px;
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
            gap: 30px;
            // cartas 
            .html{@extend .cartas;}
            .css{@extend .cartas;}
            .sass{@extend .cartas;}
            .js{@extend .cartas;}
            .react{@extend .cartas;}
            .git{@extend .cartas;}
            .figma{@extend .cartas;}
            .boostrap{@extend .cartas;}
            .tailwind{@extend .cartas;}
            // boton cartas 
            .carta__btn{
                cursor: pointer;
                background: #e0e0e0;
                box-shadow:  5px 5px 10px #b3b3b3,
                             -5px -5px 10px #ffffff;
                padding: 20px 50px;
                border-radius: 15px;
                margin-top: 35px;
                border: none;
            }
            // titulos 
            .carta__titulo{
                font-size: 20px;
                font-weight: 800;
                letter-spacing: 5px;
                display: none;
            }
            .img{
                width: 150px;
                height: 150px;
                border-radius: 10px;
                object-fit: contain;
                // flex-basis: 150px;
            }
            .carta__leyenda__img{
                display: none;
            }
            .carta__leyenda{
                display: none;
                color: #777777;
            }
            .carta__texto{
                display: none;
                color: #777777;
                width: 100%;
                text-align: center;
            }
        }
    }
}