.contenido__principal{
    @include caja_flex(flex,center,center);
    width: 100%;
    padding-top: 90px;
    // height: 90vh;
    scroll-behavior: smooth;

    .redes__sociales{
        @include caja_flex(flex,center,center);
        flex-basis: 50px;
        flex-direction: column;
        padding: 0px 20px;
        .iconos{
            width: 30px;
            margin: 13px 0px;
            cursor: pointer;
            transition: transform .3s ease ;
            &:hover{
                transform: scale(1.4)
            }
        }

    }
    .contenedor__bienvenida{
        @include caja_flex(flex,center,space-around);
        width: 100%;
        height: 60%;
        margin: 0px 20px;
        flex-direction: column;
        flex-shrink: 3;
        
        .bienvenida__titulo{
        font-size: 35px;
        width: 100%;
        @include caja_flex(flex,center,flex-start);
        h1{
            letter-spacing: 7px;
            margin: 0px 0px;
        }
        }
        .leyenda{
            color: #818181;
            font-size: 18px;
        }
        .bienvenida__texto{
            width: 100%;
            display: flex;
            flex-direction: column;
            .texto{
                margin: 30px 0px;
                display: flex;
                width: 40%;
                text-align:start;
                line-height: 20px;
                color: #777575;
            }
        }
        .boton__contactar{
            @include caja_flex(flex,center,flex-start);       
            width: 100%;
            .boton{
                background-color: $clr-light-green;                border-radius:7px;
                border: none;
                padding: 15px 30px;
                margin: 25px 0px;
                position: relative;
                overflow: hidden;
                cursor: pointer;
                transition: box-shadow .3s ease-in-out;
                z-index: 1;
                a{
                    color: #ffffff;
                    text-decoration: none;
                    font-size: $texto;
                    font-weight: 600;
                }                
                &:hover{
                box-shadow: 0px 3px 15px 0px $clr-malachite;
                background-color: $clr-light-green;
                }
            }
        }
    }
    .contenedor__foto{
        width: 100%;
        @include caja_flex(flex,center,center);       
        flex-basis: 550px;
        position: relative;
        // z-index: 2;
        .foto{
            width: 100%;
            border-radius:90% 10% 42% 58% / 47% 42% 58% 53%  ;
            // height: 100%;
        }
    }
}
