@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  width: 100%;
  position: relative;
  transition: background-color 0.5s ease-in;
}
body.modo-oscuro {
  background-color: #282828;
  color: #ffffff;
  transition: 0.5s ease-in all;
}
body.modo-claro {
  background-color: #ffffff;
  color: #000000;
}

*, ::after, ::before {
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navegador {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  transition: background-color 0.5s ease-in;
}
.navegador .navagador__titulo {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.navegador .navagador__titulo .titulo {
  position: relative;
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}
.navegador .navagador__titulo .titulo:hover {
  color: #6ede8a;
}
.navegador .menu {
  display: flex;
  position: relative;
  list-style: none;
}
.navegador .menu .lista {
  display: block;
  position: relative;
}
.navegador .menu .enlaces {
  text-decoration: none;
  font-weight: 700;
  color: #000000;
  width: 100%;
  display: flex;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.4s ease;
}
.navegador .menu .enlaces:hover {
  color: #6ede8a;
}
.navegador .contend__swich {
  display: flex;
  width: 100%;
}
.navegador .contend__swich .swich {
  display: flex;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: #282828;
  position: relative;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  transition: 0.3s ease-in-out all;
}
.navegador .contend__swich .swich::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  left: 0;
  top: 0;
  right: unset;
  background-color: #fffefe;
  box-shadow: #d7d7d7 0px 0px 5px 0px;
  border-radius: 50%;
}
.navegador .contend__swich .swich.active {
  background-color: #ffffff;
  transition: left 0.3s ease;
}
.navegador .contend__swich .swich.active::after {
  left: unset;
  right: 0;
}
.navegador .contend__swich .swich span {
  width: 30px;
  height: 30px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  line-height: 30px;
}
.navegador .contend__swich .swich span .luna,
.navegador .contend__swich .swich span .sol {
  display: flex;
  width: 30px;
  height: 30px;
}

.nav-dark {
  background-color: #282828;
  color: #ffffff;
}
.nav-dark .navagador__titulo {
  color: #ffffff;
}
.nav-dark .menu .enlaces {
  color: #ffffff;
}

.nav-white {
  background-color: #ffffff;
  color: #000000;
}
.nav-white .navagador__titulo {
  color: #000000;
}
.nav-white .menu .enlaces {
  color: #000000;
}

.contenido__principal {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "redes contenido contenido foto foto foto" "redes contenido contenido foto foto foto";
  grid-template-rows: 2 1fr;
}
.contenido__principal .redes__sociales {
  grid-area: redes;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contenido__principal .redes__sociales .iconos {
  width: 30px;
  margin: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.contenido__principal .redes__sociales .iconos:hover {
  transform: scale(1.4);
}
.contenido__principal .contenedor__bienvenida {
  grid-area: contenido;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.contenido__principal .contenedor__bienvenida .bienvenida__titulo {
  font-size: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contenido__principal .contenedor__bienvenida .bienvenida__titulo h1 {
  letter-spacing: 7px;
  margin: 0px 0px;
}
.contenido__principal .contenedor__bienvenida .leyenda {
  color: #818181;
  font-size: 18px;
}
.contenido__principal .contenedor__bienvenida .bienvenida__texto {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contenido__principal .contenedor__bienvenida .bienvenida__texto .texto {
  display: flex;
  width: 40%;
  text-align: start;
  line-height: 20px;
  color: #777575;
}
.contenido__principal .contenedor__bienvenida .boton__contactar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contenido__principal .contenedor__bienvenida .boton__contactar .boton {
  background-color: #6ede8a;
  border-radius: 7px;
  border: none;
  padding: 15px 30px;
  margin: 25px 0px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}
.contenido__principal .contenedor__bienvenida .boton__contactar .boton a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}
.contenido__principal .contenedor__bienvenida .boton__contactar .boton:hover {
  box-shadow: 0px 3px 15px 0px #4ad66d;
  background-color: #6ede8a;
}
.contenido__principal .contenedor__foto {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: foto;
}
.contenido__principal .contenedor__foto .foto {
  width: 250px;
  border-radius: 90% 10% 42% 58%/47% 42% 58% 53%;
}

.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
}
.about .about__titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about .about__titulo .titulo {
  font-size: 45px;
  font-weight: 500;
}
.about .about__titulo .leyenda {
  font-weight: 500;
  color: #b8b8b8;
}
.about .about__contenido {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 25px 0px 0px 0px;
}
.about .about__contenido .about__imagen {
  flex-direction: column;
}
.about .about__contenido .about__imagen .imagen {
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about__contenido .about__imagen span {
  color: #b8b8b8;
  padding: 10px 0px;
}
.about .about__contenido .about__texto {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  height: 100%;
  text-align: start;
  flex-direction: column;
}
.about .about__contenido .about__texto .texto {
  text-align: start;
  color: #777777;
  width: 90%;
  line-height: 25px;
}
.about .about__contenido .about__texto .about__btn {
  background-color: #6ede8a;
  border-radius: 7px;
  border: none;
  padding: 15px 30px;
  margin: 25px 0px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}
.about .about__contenido .about__texto .about__btn a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}
.about .about__contenido .about__texto .about__btn:hover {
  box-shadow: 0px 3px 15px 0px #4ad66d;
  background-color: #6ede8a;
}
.about .about__contenido .about__texto .estadisticas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.about .about__contenido .about__texto .estadisticas div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  padding: 20px 10px;
}
.about .about__contenido .about__texto .estadisticas div span {
  color: #b8b8b8;
}
.about .about__contenido .about__texto .estadisticas div .numero {
  font-size: 25px;
  font-weight: 900;
}

.seccion__skills {
  padding-top: 180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seccion__skills .contenedor__skills {
  width: 100%;
  height: 100%;
}
.seccion__skills .contenedor__skills .skills__titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.seccion__skills .contenedor__skills .skills__titulo .titulo {
  font-size: 45px;
  font-weight: 500;
}
.seccion__skills .contenedor__skills .skills__titulo .leyenda {
  font-weight: 700;
  color: #777777;
}
.seccion__skills .contenedor__skills .cartas, .seccion__skills .contenedor__skills .skills__cartas .tailwind, .seccion__skills .contenedor__skills .skills__cartas .boostrap, .seccion__skills .contenedor__skills .skills__cartas .figma, .seccion__skills .contenedor__skills .skills__cartas .git, .seccion__skills .contenedor__skills .skills__cartas .react, .seccion__skills .contenedor__skills .skills__cartas .js, .seccion__skills .contenedor__skills .skills__cartas .sass, .seccion__skills .contenedor__skills .skills__cartas .css, .seccion__skills .contenedor__skills .skills__cartas .html {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  width: 100%;
  height: 400px;
  padding: 25px;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 10px;
}
.seccion__skills .contenedor__skills .skills__cartas {
  margin: 45px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.seccion__skills .contenedor__skills .skills__cartas .carta__btn {
  cursor: pointer;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #b3b3b3, -5px -5px 10px #ffffff;
  padding: 20px 50px;
  border-radius: 15px;
  margin-top: 35px;
  border: none;
}
.seccion__skills .contenedor__skills .skills__cartas .carta__titulo {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 5px;
  display: none;
}
.seccion__skills .contenedor__skills .skills__cartas .img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.seccion__skills .contenedor__skills .skills__cartas .carta__leyenda__img {
  display: none;
}
.seccion__skills .contenedor__skills .skills__cartas .carta__leyenda {
  display: none;
  color: #777777;
}
.seccion__skills .contenedor__skills .skills__cartas .carta__texto {
  display: none;
  color: #777777;
  width: 100%;
  text-align: center;
}

.btn__fijo {
  width: 90px;
  height: 90px;
  right: 30px;
  bottom: 30px;
  position: fixed;
  border-radius: 50%;
  background-color: #e4e4e4;
  transition: background-color 0.5s ease-in;
  cursor: pointer;
  overflow: hidden;
}
.btn__fijo a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition-delay: 1s;
}
.btn__fijo a .btn__iconos {
  animation: botonfijo 1.8s linear infinite;
  width: 35px;
  height: 35px;
}

.boton-dark {
  background-color: #434343;
}

@keyframes botonfijo {
  0% {
    transform: translateY(75px);
  }
  100% {
    transform: translateY(-75px);
  }
}
@media screen and (max-width: 1024px) {
  .body {
    position: relative;
  }
  .body .contenido__principal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "contenido contenido contenido contenido" "foto foto foto foto" "redes redes redes redes";
  }
  .body .contenido__principal .redes__sociales {
    flex-direction: row;
  }
  .body .contenido__principal .redes__sociales .iconos {
    width: 35px;
    margin: 0px 70px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .body .contenido__principal .redes__sociales .iconos:hover {
    transform: scale(1.4);
  }
  .body .contenido__principal .contenedor__bienvenida {
    flex-direction: column;
    padding: 20px;
  }
  .body .contenido__principal .contenedor__bienvenida .bienvenida__titulo {
    font-size: 35px;
    justify-content: flex-start;
  }
  .body .contenido__principal .contenedor__bienvenida .bienvenida__titulo h1 {
    letter-spacing: 7px;
    margin: 0px 0px;
  }
  .body .contenido__principal .contenedor__bienvenida .bienvenida__texto {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .body .contenido__principal .contenedor__bienvenida .bienvenida__texto .texto {
    width: 100%;
  }
  .body .contenido__principal .contenedor__bienvenida .boton__contactar {
    margin-left: 35px;
    z-index: -1;
  }
  .body .contenido__principal .contenedor__bienvenida .boton__contactar .boton a {
    font-size: 23px;
  }
  .body .contenido__principal .contenedor__foto {
    order: 1;
  }
  .body .contenido__principal .contenedor__foto .foto {
    width: 350px;
    margin: 0;
    margin: 40px 0px;
  }
  .body .btn__fijo {
    width: 65px;
    height: 65px;
    right: 20px;
    bottom: 20px;
  }
  .body .btn__fijo a {
    animation: botonfijo 1.8s ease infinite;
  }
  .body .btn__fijo a .btn__iconos {
    width: 35px;
    height: 35px;
  }
  .body .about {
    padding-top: 180px;
  }
  .body .about .about__contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .body .about .about__contenido .about__imagen .imagen {
    width: 350px;
  }
  .body .about .about__contenido .about__texto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    flex-direction: column;
  }
  .body .about .about__contenido .about__texto .texto {
    width: 100%;
    text-align: start;
  }
  .body .about .about__contenido .about__texto .about__btn {
    width: 100%;
    height: 65px;
  }
  .body .about .about__contenido .about__texto .about__btn a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
  }
  .body .about .about__contenido .about__texto .about__btn:hover {
    box-shadow: 0px 3px 15px 0px #4ad66d;
    background-color: #6ede8a;
  }
  .body .about .about__contenido .about__texto .estadisticas {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .body .about .about__contenido .about__texto .estadisticas div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
    padding: 20px 10px;
  }
  .body .about .about__contenido .about__texto .estadisticas div .numero {
    font-size: 25px;
    font-weight: 900;
  }
}
@media screen and (max-width: 475px) {
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  body .navegador {
    position: relative;
    justify-content: space-between;
  }
  body .navegador .navagador__titulo .titulo {
    font-size: 25px;
    position: relative;
  }
  body .navegador .menu .lista {
    display: none;
  }
  body .contenido__principal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "contenido contenido contenido contenido" "foto foto foto foto" "redes redes redes redes";
  }
  body .contenido__principal .redes__sociales {
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  body .contenido__principal .redes__sociales .iconos {
    width: 35px;
    margin: 0px 70px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  body .contenido__principal .redes__sociales .iconos:hover {
    transform: scale(1.4);
  }
  body .contenido__principal .contenedor__foto {
    order: 1;
    margin: 0;
  }
  body .contenido__principal .contenedor__foto .foto {
    width: 350px;
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */