@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;900&display=swap");
html {
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  width: 80%;
  position: relative;
}

*, ::after, ::before {
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navegador {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  background-color: #ffffff;
}
.navegador .navagador__titulo {
  width: 100%;
  display: flex;
}
.navegador .navagador__titulo .titulo {
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
}
.navegador .navagador__titulo .titulo:hover {
  color: #6ede8a;
}
.navegador .navagador__titulo #home {
  scroll-behavior: smooth;
}
.navegador .menu {
  display: flex;
  position: relative;
  list-style: none;
}
.navegador .menu .lista {
  display: block;
  position: relative;
  width: 100%;
  width: 100%;
}
.navegador .menu .enlaces {
  text-decoration: none;
  font-weight: 700;
  color: #000000;
  width: 100%;
  display: flex;
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.4s ease;
}
.navegador .menu .enlaces:hover {
  color: #6ede8a;
}
.navegador .modos {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contenido__principal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  scroll-behavior: smooth;
}
.contenido__principal .redes__sociales {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50px;
  flex-direction: column;
  padding: 0px 20px;
}
.contenido__principal .redes__sociales .iconos {
  width: 30px;
  margin: 13px 0px;
  cursor: pointer;
}
.contenido__principal .redes__sociales .iconos:hover {
  color: #155d27;
}
.contenido__principal .contenedor__bienvenida {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 60%;
  margin: 0px 20px;
  flex-direction: column;
  flex-shrink: 3;
}
.contenido__principal .contenedor__bienvenida .bienvenida__titulo {
  font-size: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contenido__principal .contenedor__bienvenida .bienvenida__titulo h1 {
  letter-spacing: 7px;
  margin: 0px 0px;
}
.contenido__principal .contenedor__bienvenida .leyenda {
  color: #818181;
  font-size: 18px;
}
.contenido__principal .contenedor__bienvenida .bienvenida__texto {
  width: 100%;
  display: flex;
}
.contenido__principal .contenedor__bienvenida .bienvenida__texto .texto {
  margin: 30px 0px;
  display: flex;
  width: 40%;
  text-align: start;
  line-height: 20px;
  color: #777575;
}
.contenido__principal .contenedor__bienvenida .boton__contactar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
.contenido__principal .contenedor__bienvenida .boton__contactar .boton {
  background-color: #6ede8a;
  border-radius: 7px;
  border: none;
  padding: 15px 30px;
  margin: 25px 0px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  z-index: 1;
}
.contenido__principal .contenedor__bienvenida .boton__contactar .boton a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}
.contenido__principal .contenedor__bienvenida .boton__contactar .boton:hover {
  box-shadow: 0px 3px 15px 0px #4ad66d;
  background-color: #6ede8a;
}
.contenido__principal .contenedor__foto {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 550px;
  overflow: hidden;
  border-radius: 90% 10% 42% 58%/47% 42% 58% 53%;
  transition: box-shadow 0.3s ease;
}
.contenido__principal .contenedor__foto .foto {
  width: 100%;
  height: 100%;
}
.contenido__principal .contenedor__foto:hover {
  box-shadow: 0px 0px 15px 0px #777575;
}

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
}
.about .about__titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;
}
.about .about__titulo .titulo {
  font-size: 45px;
  font-weight: 500;
}
.about .about__titulo .leyenda {
  font-weight: 500;
  color: #b8b8b8;
}
.about .about__contenido {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 25px 0px 0px 0px;
}
.about .about__contenido .about__imagen {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0px 35px;
  height: 100%;
  flex-basis: 400px;
}
.about .about__contenido .about__imagen .imagen {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.about .about__contenido .about__imagen span {
  color: #b8b8b8;
  padding: 10px 0px;
}
.about .about__contenido .about__texto {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  height: 100%;
  text-align: start;
  flex-direction: column;
}
.about .about__contenido .about__texto .texto {
  text-align: start;
  color: #777777;
  width: 90%;
  line-height: 25px;
}
.about .about__contenido .about__texto .about__btn {
  background-color: #6ede8a;
  border-radius: 7px;
  border: none;
  padding: 15px 30px;
  margin: 25px 0px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  z-index: 1;
}
.about .about__contenido .about__texto .about__btn a {
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
}
.about .about__contenido .about__texto .about__btn:hover {
  box-shadow: 0px 3px 15px 0px #4ad66d;
  background-color: #6ede8a;
}
.about .about__contenido .about__texto .estadisticas {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.about .about__contenido .about__texto .estadisticas div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  color: #b8b8b8;
  padding: 20px 10px;
}
.about .about__contenido .about__texto .estadisticas div .numero {
  font-size: 25px;
  font-weight: 900;
  color: #000000;
}/*# sourceMappingURL=style.css.map */